# macOS
.DS_Store

# reference folder
reference/

# Xcode / Swift
DerivedData/
build/
xcuserdata/
*.xcuserdatad/
*.xcworkspace
*.xcuserstate

# IDE
.idea/
.vscode/

# Thumbs/db
Thumbs.db

xcode-26-system-prompts/
